DATABASE_URL='your_database_url_here'
POSTGRES_USER= 'your_postgres_user_here'
POSTGRES_PASSWORD= 'your_postgres_password_here'
POSTGRES_DB= 'your_postgres_db_name_here'
REDIS_URL='redis://localhost:6379/0'
SMTP_SERVER='your_smtp_server_here'
SMTP_PORT='your_smtp_port_here'
SMTP_EMAIL='your_smtp_email_here'
SMTP_PASSWORD='your_smtp_password_here'
TWILIO_ACCOUNT_SID='your_twilio_account_sid_here'
TWILIO_AUTH_TOKEN='your_twilio_auth_token_here'
TWILIO_PHONE_NUMBER='Your_twilio_phone_number_here'
PUSHGATEWAY_URL='your_pushgateway_url_here'
SECRET_KEY='your_secret_key_here'
ALGORITHM='Your_algorithm_here'
ACCESS_TOKEN_EXPIRE_MINUTES='your_access_token_expire_minutes_here'